package ${packageName}.controller;

import ${packageName}.entity.${className};
import ${packageName2}.entity.WebResponse;
import ${packageName}.service.${className}Service;
import ${packageName}.permission.Permission;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import io.swagger.annotations.*;

import java.util.List;


@Api(tags = "${classComment}控制器")
@RestController
@RequestMapping("/api/${prefix}${serviceName}")
public class ${className}Controller {

    @Autowired
    private ${className}Service ${serviceName}Service;

    /**
     * 查询所有
     */
    @ApiOperation("查询所有")
    @Permission(path = "${prefix}${serviceName}")
    @PostMapping("/list")
    public WebResponse<List<${className}>> list() {
        return WebResponse.OK(${serviceName}Service.list());
    }

    /**
     * 新增
     */
    @ApiOperation("新增")
    @Permission(path = "${prefix}${serviceName}", type = Permission.Type.Write)
    @PostMapping("/add")
    public WebResponse<Boolean> add(@RequestBody ${className} entity) {
        return WebResponse.OK(${serviceName}Service.save(entity));
    }
    /**
     * 删除
     */
    @ApiOperation("删除")
    @Permission(path = "${prefix}${serviceName}", type = Permission.Type.Write)
    @GetMapping("/delete")
    public WebResponse<Boolean> delete(@RequestParam String id) {
        return WebResponse.OK(${serviceName}Service.removeById(id));
    }
    /**
     * 修改
     */
    @ApiOperation("修改")
        @Permission(path = "${prefix}${serviceName}", type = Permission.Type.Write)
        @PutMapping("/update")
    public WebResponse<Boolean> update(@RequestBody ${className} entity) {
        return WebResponse.OK(${serviceName}Service.updateById(entity));
    }
}
