package ${packageName}.mapper;


import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import  ${packageName}.entity.Resource;
import org.apache.ibatis.annotations.Mapper;
/**
 * <p>
 * 资源表 Mapper 接口
 * </p>
 *
 * @author sun
 * @since 2024-11-12
 */
@Mapper
public interface ResourceMapper extends BaseMapper<Resource> {
}
