package ${packageName}.validator;


/**
 * 对象类型
 *
 * @author sun
 * @since 2024/09/23
 */
public enum Type {
    // 字符串
    STRING,
    //邮箱
    EMAIL,
    // 手机号
    PHONE,
    // 数组
    ARRAY,
    //Map
    MAP
}
