package ${packageName}.service;

import ${packageName2}.entity.Token;

import com.baomidou.mybatisplus.extension.service.IService;


/**
 * <p>
 * 令牌表 服务类
 * </p>
 *
 * @author sun
 * @since 2024-11-27
 */
public interface TokenService extends IService<Token> {

}
