#国际化
lng=zh_CN
#服务器出现异常，请稍后再试
server.error=服务器出现异常，请稍后再试
#没有父级
system.resource.not.parent=没有父级
#授权成功
system.authorize.success=授权成功
#授权失败
system.authorize.fail=授权失败
#没有权限
auth.error.no.permission=您没有权限执行此操作
# 邮箱不存在
user.email.not.exist=邮箱不存在
user.email.exist=邮箱已存在
# 手机号码不存在
user.phone.not.exist=手机号码不存在
# 手机号码已存在
user.phone.exist=手机号码已存在
# 验证码错误
user.captcha.error=验证码错误
# 验证码已过期
user.captcha.expired=验证码已过期
# 密码错误
user.password.error=密码错误

#服务调用超时，请稍后重试
server.timeout=服务调用超时，请稍后重试
#认证服务不可用,请稍后重试
auth.service.unavailable=认证服务不可用,请稍后重试
#获取成功
get.success=获取成功
#获取失败
get.fail=获取失败
#更新成功
update.success=更新成功
#更新失败
update.fail=更新失败
#删除成功
delete.success=删除成功
#删除失败
delete.fail=删除失败
#添加成功
add.success=添加成功
#添加失败
add.fail=添加失败
#参数错误
param.error=参数错误
#参数为空
param.empty=参数为空
#消息发送成功
send.success=消息发送成功
#消息发送失败
send.fail=消息发送失败
#请求成功
request.success=请求成功
#请求失败
request.fail=请求失败
#注册成功
register.success=注册成功
#注册失败
register.fail=注册失败
# 令牌已失效
error.token.expired=令牌已失效
# 退出成功
logout.success=退出成功
# 退出失败
logout.fail=退出失败
