#国际化
lng=en_US
#服务器错误，请稍后重试
server.error=The server is abnormal. Please try again later
#没有父级
system.resource.not.parent=No Parent
#授权成功
system.authorize.success=Authorize Success
#授权失败
system.authorize.fail=Authorize Fail
# 没有权限
auth.error.no.permission=You do not have permission to do this
# 邮箱不存在
user.email.not.exist=The email does not exist
user.email.exist=The email already exists
# 手机不存在
user.phone.not.exist=The phone does not exist
user.phone.exist=The phone already exists
# 验证码错误
user.captcha.error=Captcha error
# 验证码过期
user.captcha.expired=Captcha expired
# 密码错误
user.password.error=Password error

#服务调用超时，请稍后重试
server.timeout=Service call timed out. Please try again later
#认证服务不可用,请稍后重试
auth.service.unavailable=Authentication service is unavailable. Please try again later
#获取成功
get.success=Get success
#获取失败
get.fail=Get fail
#更新成功
update.success=Update success
#更新失败
update.fail=Update fail
#删除成功
delete.success=Delete success
#删除失败
delete.fail=Delete fail
#添加成功
add.success=Add success
#添加失败
add.fail=Add fail
#参数错误
param.error=Parameter error
#参数为空
param.empty=Parameter is empty
#消息发送成功
send.success=Message sent successfully
#消息发送失败
send.fail=Message sending failed
#请求成功
request.success=Request success
#请求失败
request.fail=Request fail
#注册成功
register.success=Register success
#注册失败
register.fail=Register fail
# 令牌已失效
error.token.expired=Token has expired
# 退出成功
logout.success=Logout success
# 退出失败
logout.fail=Logout fail
