package ${packageName}.controller;

import java.util.List;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${packageName2}.permission.Permission;
import ${packageName}.service.dictService;
import ${packageName2}.entity.Option;
import ${packageName2}.entity.WebResponse;
import ${packageName}.entity.Dict;
import ${packageName2}.i18n.I18nUtils;
import ${packageName2}.validator.ValidEntity;
import ${packageName}.vo.DictVo;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiOperation;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;

import javax.annotation.Nullable;
import javax.validation.constraints.NotNull;
import java.util.List;
import java.util.stream.Collectors;

@Api(value = "系统字典服务 API")
@Validated
@RestController
@Permission(path = "/sys/dict")
@RequestMapping("/api/sys/dict")
public class DictController {
    private final DictService dictService;

    public SysDictController(DictService dictService) {
        this.dictService = dictService;
    }

    @ApiOperation(value = "获取字典列表")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "Authorization", value = "访问令牌", required = true, dataType = "string", paramType = "header")
    })
    @PostMapping("/list")
    public WebResponse<List<DictVo>> list(@RequestBody DictVo dict) {
        Page<DictVo> list = dictService.list(dict);
        return WebResponse.Page(list.getRecords(), list.getTotal());
    }

    @ApiOperation("获取字典")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "id", required = true),
            @ApiImplicitParam(name = "Authorization", value = "访问令牌", required = true, dataType = "string", paramType = "header")
    })
    @GetMapping("/info")
    public WebResponse<Dict> info(@RequestParam @NotNull String id) {
        return WebResponse.OK(dictService.info(id));
    }

    @ApiOperation("删除字典")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "id", required = true),
            @ApiImplicitParam(name = "Authorization", value = "访问令牌", required = true, dataType = "string", paramType = "header")
    })
    @Permission(path = "/sys/dict", type = Permission.Type.Write)
    @GetMapping("/delete")
    public WebResponse<Boolean> delete(@RequestParam @NotNull String id) {
        boolean delete = dictService.delete(id);
        return WebResponse.OK(delete ? I18nUtils.getMessage("delete.success") : I18nUtils.getMessage("delete.fail"), delete);
    }

    @ApiOperation("添加字典")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "Authorization", value = "访问令牌", required = true, dataType = "string", paramType = "header")
    })
    @Permission(path = "/sys/dict", type = Permission.Type.Write)
    @PostMapping("/add")
    public WebResponse<Boolean> save(@RequestBody
                                     @ValidEntity(fieldNames = {"code", "name", "nameCn"})
                                     Dict dict) {
        boolean save = dictService.saveOrUpdate(dict);
        if (dict.getId() != null) {
            return WebResponse.OK(I18nUtils.getMessage(save ? "update.success" : "update.fail"), save);
        } else {
            return WebResponse.OK(I18nUtils.getMessage(save ? "add.success" : "add.fail"), save);
        }
    }

    @ApiOperation("获取字典选项")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "parentCode", required = true),
            @ApiImplicitParam(name = "Authorization", value = "访问令牌", required = true, dataType = "string", paramType = "header")
    })
    @GetMapping("/select")
    public WebResponse<List<Option>> getOptions() {
        List<Dict> list = dictService.select();
        String lng = I18nUtils.getMessage("lng");
        List<Option> options = list.stream().map(item -> new Option("en_US".equals(lng) ? item.getName() : item.getNameCn(), item.getCode())).collect(Collectors.toList());
        return WebResponse.OK(options);
    }

    @ApiOperation("根据code获取字典,可指定语言")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "code", required = true),
            @ApiImplicitParam(name = "lang"),
            @ApiImplicitParam(name = "Authorization", value = "访问令牌", required = true, dataType = "string", paramType = "header")
    })
    @Permission(required = false)
    @GetMapping("/code")
    public WebResponse<Dict> getByCode(@RequestParam @NotNull String code, @RequestParam @Nullable String lang) {
        return WebResponse.OK(dictService.getByCode(code, lang));
    }

    @ApiOperation("根据父code获取字典,可指定语言")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "parentCode", required = true),
            @ApiImplicitParam(name = "lang"),
            @ApiImplicitParam(name = "Authorization", value = "访问令牌", required = true, dataType = "string", paramType = "header")
    })
    @Permission(required = false)
    @GetMapping("/options")
    public WebResponse<List<Option>> getByParentCode(@RequestParam @NotNull String parentCode) {
        return WebResponse.OK(dictService.getOptions(parentCode));
    }
}
