package ${packageName}.controller;



import com.baomidou.mybatisplus.core.conditions.Wrapper;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import  ${packageName2}.permission.Permission;
import  ${packageName}.service.UserService;
import  ${packageName2}.entity.WebResponse;
import  ${packageName}.entity.User;
import  ${packageName2}.enums.State;
import  ${packageName2}.exception.ServerException;
import  ${packageName2}.i18n.I18nUtils;
import  ${packageName2}.validator.ValidEntity;
import  ${packageName2}.vo.UserVo;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiImplicitParams;
import io.swagger.annotations.ApiOperation;
import org.apache.commons.lang3.StringUtils;
import org.springframework.beans.BeanUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.security.crypto.password.PasswordEncoder;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;

import javax.validation.constraints.NotBlank;
import java.util.List;
import java.util.stream.Collectors;

@Api(tags = "系统用户服务 API")
@Validated
@RestController
@Permission(path = "/sys/admin")
@RequestMapping("/api/sys/admin")
public class UserController {

    private final UserService userService;

    private final PasswordEncoder encoder;


    @Autowired
    public SysUserController(UserService userService, org.springframework.security.crypto.password.PasswordEncoder encoder) {
        this.userService = userService;
        this.encoder = encoder;
    }


    @ApiOperation("管理员列表")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "Authorization", value = "访问令牌", required = true, dataType = "string", paramType = "header")
    })
    @PostMapping("/list")
    public WebResponse<List<UserVo>> list(@RequestBody User User) throws ServerException {
        Page<User> userPage = new Page<>(User.getCurrent(), User.getPageSize());
        Wrapper<User> queryWrapper = Wrappers.lambdaQuery(User.class)
                .eq(User::getState, State.Success.getCode())
                .like(StringUtils.isNotBlank(User.getSex()), User::getSex, User.getSex())
                .like(StringUtils.isNotBlank(User.getType()), User::getType, User.getType())
                .like(StringUtils.isNotBlank(User.getUsername()), User::getUsername, User.getUsername())
                .like(StringUtils.isNotBlank(User.getPhone()), User::getPhone, User.getPhone())
                .like(StringUtils.isNotBlank(User.getEmail()), User::getEmail, User.getEmail())
                .orderByDesc(User::getCreateAt);
        Page<User> sysUserPage = userService.page(userPage, queryWrapper);
        List<UserVo> userVos = sysUserPage.getRecords().stream().map(user -> {
            UserVo userVo = new UserVo();
            user.setPassword(null);
            BeanUtils.copyProperties(user, userVo);
            userVo.setRoleIds(userService.getRoleIdsByUserId(user.getId()));
            return userVo;
        }).collect(Collectors.toList());
        return WebResponse.Page(userVos, sysUserPage.getTotal());
    }


    @ApiOperation("管理员详情")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "id", value = "管理员ID", required = true),
            @ApiImplicitParam(name = "Authorization", value = "访问令牌", required = true, dataType = "string", paramType = "header")
    })
    @GetMapping("/info")
    public WebResponse<User> detail(@RequestParam @NotBlank String id) throws ServerException {
        User user = userService.getById(id);
        user.setPassword(null);
        UserVo userVo = new UserVo();
        BeanUtils.copyProperties(user, userVo);
        userVo.setRoleIds(userService.getRoleIdsByUserId(user.getId()));
        return WebResponse.OK(userVo);
    }

    @ApiOperation("管理员保存修改")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "Authorization", value = "访问令牌", required = true, dataType = "string", paramType = "header")
    })
    @Permission(path = "/sys/admin", type = Permission.Type.Write)
    @Transactional(rollbackFor = Exception.class)
    @PostMapping("/save")
    public WebResponse<Boolean> save(@RequestBody
                                     @ValidEntity(fieldNames = {"username", "phone", "email", "avatar"})
                                     UserVo User) throws ServerException {
        String id = User.getId();
        // 密码加密
        if (StringUtils.isNotEmpty(User.getPassword())) {
            User.setPassword(encoder.encode(User.getPassword()));
        }
        if (User.getRoleIds() != null) {
            userService.bindRole(User.getId(), User.getRoleIds());
        }
        boolean saved = userService.saveOrUpdate(User);
        if (StringUtils.isEmpty(id)) {
            return WebResponse.OK(saved ? I18nUtils.getMessage("add.success") : I18nUtils.getMessage("add.fail"), true);
        }
        return WebResponse.OK(saved ? I18nUtils.getMessage("update.success") : I18nUtils.getMessage("update.fail"), true);
    }

    @ApiOperation("管理员删除")
    @ApiImplicitParams({
            @ApiImplicitParam(name = "id", value = "管理员ID", required = true),
            @ApiImplicitParam(name = "Authorization", value = "访问令牌", required = true, dataType = "string", paramType = "header")
    })
    @Permission(path = "/sys/admin", type = Permission.Type.Write)
    @DeleteMapping("/delete")
    public WebResponse<Boolean> delete(@RequestParam @NotBlank String id) throws ServerException {
        boolean update = userService.update(Wrappers.lambdaUpdate(User.class)
                .eq(User::getId, id)
                .set(User::getState, State.Delete.getCode()));
        return WebResponse.OK(update ? I18nUtils.getMessage("delete.success") : I18nUtils.getMessage("delete.fail"), update);
    }

}
