package ${packageName}.vo;

import  ${packageName}.entity.Sms;
import lombok.Data;
import lombok.EqualsAndHashCode;

@EqualsAndHashCode(callSuper = true)
@Data
public class SmsVo extends Sms {
    private Long current;
    private Long pageSize;
}
