import {request} from "@umijs/max";
import {ResponseStructure} from "@/services/entity/Common";
/**
 * ${classComment}查询参数
 * @since ${now}
 */
export interface ${className}SearchParams extends ${className} {
    current: number;
    pageSize: number;
}
/**
 * ${classComment}实体
 * @since ${now}
 */
export interface ${className} {
    id: number;
    #foreach($field in $fields)
            ${field.name} : ${field.type};
    #end
    createdAt: string;
    updatedAt: string;
    deleted: boolean;
    state: number;
    sortNum: number;
}
/**
 * ${classComment}分页查询
 * @param params 查询参数
 * @since ${now}
 * @returns 查询结果
 */
export const get${className}List = async (params: ${className}SearchParams): Promise<ResponseStructure<${className}[]>> => {
    return await request('/api/${path}/list', {
        method: 'POST',
        data: params,
    })
}
/**
 * 查询${classComment}信息
 * @param params 查询参数
 * @since ${now}
 * @returns 查询结果
 */
export const get${className}Info = async (params: ${className}SearchParams): Promise<ResponseStructure<${className}>> => {
    let {data} = await request('/api/${path}/info', {
        method: 'get',
        params: {id:params},

    });
    return data
}
/**
 * 新增${classComment}信息
 * @param params 新增参数
 * @since ${now}
 * @returns 新增结果
 */
export const add${className}Info = async (params: ${className}) => {
    return request('/api/${path}/add', {
        method: 'post',
        data: params,
    });
}
/**
 * 修改${classComment}信息
 * @param params 修改参数
 * @since ${now}
 * @returns 修改结果
 */
export const update${className}Info = async (params: ${className}) => {
    return request('/api/${path}/update', {
        method: 'post',
        data: params,
    })
}
/**
 * 删除${classComment}信息
 * @param params 删除参数
 * @since ${now}
 * @returns 删除结果
 */
export const delete${className}Info = async (params: ${className}SearchParams) => {
    return request('/api/${path}/delete', {
        method: 'get',
        params: {id:params.id},
    })
}
